examples/03_data_validation_api.json
{
  "name": "User Registration API with Validation",
  "nodes": [
    {
      "parameters": {
        "path": "register",
        "options": {},
        "responseMode": "responseNode"
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "user-registration"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.email}}",
              "operation": "contains",
              "value2": "@"
            },
            {
              "value1": "={{$json.body.name}}",
              "operation": "isNotEmpty"
            }
          ],
          "number": [
            {
              "value1": "={{$json.body.age}}",
              "operation": "largerEqual",
              "value2": 18
            }
          ]
        }
      },
      "id": "if-node",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{$json.body.name}}"
            },
            {
              "name": "email",
              "value": "={{$json.body.email}}"
            }
          ],
          "number": [
            {
              "name": "age",
              "value": "={{$json.body.age}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-valid",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "users",
        "columns": "name,email,age,created_at",
        "options": {}
      },
      "id": "postgres-node",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{{\n  \"success\": true,\n  \"message\": \"User registered successfully\",\n  \"userId\": $json.id\n}}}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "respond-success",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{{\n  \"success\": false,\n  \"error\": \"Invalid input: Check email format, name, and age (must be 18+)\"\n}}}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "tags": []
}
